<h2 class="main_heading">{{translations.menu.clear_data[currentLanguage]}}</h2>
<section class="setting_section">
  <div class="container_12">
    <h3 class="setting_header">{{translations.page.settings.erase_header[currentLanguage]}}</h3>
    <p>{{translations.page.settings.erase_paragraph[currentLanguage]}}</p>
    <div class="grid_half">
      <btn ng-click="goBack()" type="abort">{{translations.page.settings.abort_erase_button[currentLanguage]}}</btn>
    </div>
    <div class="grid_half">
      <btn ng-click="clearData()" type="negative">{{translations.page.settings.erase_button[currentLanguage]}}</btn>
    </div>
  </div>
</section>
