<?xml version='1.0' encoding='utf-8'?>
<widget id="healthmeasure.stefan-wallin.se" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HealthMeasure</name>
    <description>
        A app that helps you track some of your health vitals.
    </description>
    <author email="healtmeasure-support@stefan-wallin.se" href="https://www.hälsomått.se">
        HealthMeasure Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
