<h2 class="logo main_heading">{{translations.general.logo[currentLanguage]}}</h2>
<ul class="menu">
    <li ng-show="settings.app.menu_active.measure"><a href="#/measure">{{translations.menu.measure[currentLanguage]}}</a></li>
    <li ng-show="settings.app.menu_active.weigh"><a href="#/weigh">{{translations.menu.weigh[currentLanguage]}}</a></li>
    <li ng-show="settings.app.menu_active.exercise"><a href="#/exercise">{{translations.menu.exercise[currentLanguage]}}</a></li>
    <li ng-show="settings.app.menu_active.report"><a href="#/report">{{translations.menu.report[currentLanguage]}}</a></li>
    <li ng-show="settings.app.menu_active.settings"><a href="#/settings">{{translations.menu.settings[currentLanguage]}}</a></li>
    <li ng-show="settings.app.menu_active.feedback"><a href="mailto:healtmeasure-feedback@stefan-wallin.se">{{translations.menu.feedback[currentLanguage]}}</a></li>
</ul>

<!-- 

	Kravspecifikation:
	Hälsokoll

	Mäta - (byst, midja, överarm, lår och stuss),
	Vikt - (kg, fettprocent)
	På dessa värden vill jag ha kurvor och tabell med datum

	Träning 
	- lista över aktiviteter
	- brända kalorier för varje aktivitet

 -->