<img id="logo" src="img/logo.png">
<ul class="menu">
    <li><a href="#/measure">{{translations.menu.measure[currentLanguage]}}</a></li>
    <li><a href="#/weigh">{{translations.menu.weigh[currentLanguage]}}</a></li>
    <li><a href="#/exercise">{{translations.menu.exercise[currentLanguage]}}</a></li>
    <li><a href="#/report">{{translations.menu.report[currentLanguage]}}</a></li>
    <li><a href="#/settings">{{translations.menu.settings[currentLanguage]}}</a></li>
    <li><a href="mailto:healtmeasure-feedback@stefan-wallin.se">{{translations.menu.feedback[currentLanguage]}}</a></li>
</ul>

<!-- 

	Kravspecifikation:
	Hälsokoll

	Mäta - (byst, midja, överarm, lår och stuss),
	Vikt - (kg, fettprocent)
	På dessa värden vill jag ha kurvor och tabell med datum

	Träning 
	- lista över aktiviteter
	- brända kalorier för varje aktivitet

 -->