<h2 class="main_heading">{{translations.menu.measure[currentLanguage]}}</h2>

<div class="container_12">
	<div class="field--wrapper grid_half">
		<label for="left_biceps">Left Biceps</label>
		<input id="left_biceps" name="left_biceps" placeholder="Left Biceps">
	</div>
	<div class="field--wrapper grid_half">
		<label for="right_biceps">Right Biceps</label>
		<input id="right_biceps" name="right_biceps" placeholder="Right Biceps">
	</div>
	<div class="field--wrapper grid_full">
		<label for="bust">Bust</label>
		<input id="bust" name="bust" placeholder="Bust">
	</div>
	<div class="field--wrapper grid_full">
		<label for="tummy">Tummy</label>
		<input id="tummy" name="tummy" placeholder="Tummy">
	</div>
	<div class="field--wrapper grid_full">
		<label for="butt">Butt</label>
		<input id="butt" name="butt" placeholder="Butt">
	</div>
	<div class="field--wrapper grid_half">
		<label for="left_thigh">Left Thigh</label>
		<input id="left_thigh" name="left_thigh" placeholder="Left Thigh">
	</div>
	<div class="field--wrapper grid_half">
		<label for="right_thigh">Right Thigh</label>
		<input id="right_thigh" name="right_thigh" placeholder="Right Thigh">
	</div>
	<div class="field--wrapper grid_half">
		<label for="left_calf">Left Calf</label>
		<input id="left_calf" name="left_calf" placeholder="Left Calf">
	</div>
	<div class="field--wrapper grid_half">
		<label for="right_calf">Right Calf</label>
		<input id="right_calf" name="right_calf" placeholder="Right Calf">
	</div>
	<button data-ng-click="measureUp()">Spara mått</button>
</div>